
#wrapper{
    width: 100%;
    margin: 0 auto;
}
.mapUnit{
    background:#DCDCDC;
    border-style: none;
    width: 60px;
    height: 60px;
    float:left;
    margin:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.roomCanvas{
    box-sizing: border-box;
    background :#778899;
    position :absolute;
    border-style:solid;
    margin:0;
}
.mapArrayUnit{
    margin:0;
    width: 60px;
    height: 60px;
}
#mapSection{
    margin:0;
    background: yellow;
        box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.clear{
    clear: both;
}
.room{
    background-color: #FFFFDD;
}

.empty{
    background-color: black;
}

.elevator{
    background-size:58px 58px;
    background-image: url("image/elevator.png");
    border-color: #696969;
}